# Workflow to automatically generate example pdf

name: Build LaTeX document
on:
  push:
    paths:
      - 'ronr-bylaws.cls'
      - 'example.tex'
  
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: example.tex
      - name: Commit pdf
        run: |
          git config --global user.name 'Brodi Elwood'
          git config --global user.email 'brodielwood@gmail.com'
          git add example.pdf
          git commit -am "Update example.pdf"
          git push
